<h4>Summary: <%= @booknote.summary %></h4>
<h4>Quotes: <%= @booknote.quotes %></h4>
<h4>Research: <%= @booknote.research %></h4>

<div class="btn-group">
  <a class="btn btn-dark" href="/booknotes/<%= @booknote.id %>/edit">Edit</a>

  <form method="post" action="/booknotes/<%=@booknote.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete" class="btn btn-dark">
  </form>
</div>
