
<% if @authors.length == 0 %>
  <div class="text-center mt-5">
    <h2>Nothing here yet.</h2>
    <h5>Start by adding some books.</h5>
  </div>
<% else %>

  <div class="container mt-3 mb-5">
    <div class="row">
    <% @authors.each do |author| %>
      <div class="col-sm-6">
        <!-- beginning of individual card -->
        <div class="card text-center">
          <!-- header -->
          <div class="card-header">
            <h4 class="class-title"><%= author.name %></h4>
          </div>
          <!-- body -->
          <div class="card-body">
              <% author.books.each do |book| %>
                <h4><i><%= book.title %></i></h4>
                <div class="row">
                  <div class="col-md-6 text-left">
                    <a href="/books/<%= book.id %>/edit"><img src="https://img.icons8.com/metro/26/000000/edit.png" height="15" width="15"></a>
                  </div>
                <% @booknote = @user.booknotes.detect{|booknote| booknote.book_id === book.id} %>
                <% if @booknote %>
                    <div class="col-md-6 text-right">
                      <a href="/booknotes/<%= @booknote.id %>"><img src="https://img.icons8.com/ios-glyphs/50/000000/visible.png" height="25" width="25"></a>
                    </div>
                  <% else %>
                      <div class="col-md-6 text-right">
                        <a href="/books/<%= book.id %>/booknotes/new"><img src="https://img.icons8.com/metro/26/000000/plus.png"></a>
                      </div>
                  <% end %>
                    <!-- delete button -->
                    <div class="col-md-6 text-left">
                      <form method="post" action="/books/<%=book.id%>/delete">
                        <input id="hidden" type="hidden" name="_method" value="delete">
                        <input type="image" src="https://png.icons8.com/metro/50/000000/trash.png" height="15" width="15">
                      </form>
                    </div>
                  <!-- end of delete button --->
                </div>
                <hr>
                <% end %>
              </ul>
          </div>
        </div>
      <!-- end of card -->
      </div>
      <% end %>
    </div>
  </div>
<%end%>
