<div class="container mt-3 mb-5">
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-sm-6">
        <!-- beginning of individual card -->
        <div class="card m-3">
          <!-- header -->
          <div class="card-header text-center">
            <h4 class="class-title"><%= book.title %></h4>
          </div>
          <!-- body -->
          <div class="card-body text-center">
            <em>By</em><br> <a href="/authors/<%= book.author_id %>"><%= book.author_name %></a>
          </div>
          <!-- footer -->
          <div class="card-footer">
            <% if current_user.books.include?(book) %>
              <div class="text-center">
                <a href="/books/<%= book.id %>/edit" class="btn btn-sm btn-dark">Edit this title</a>
              </div>
            <% else %>
              <div class="text-center">
                <a href="/books/<%= book.id %>/add" class="btn btn-sm btn-dark">Add to my bookshelf</a>
              </div>
            <% end %>
          </div>
          <!-- end of footer -->
        </div>
      <!-- end of card -->
      </div>
    <% end %>
  </div>
</div>
